html{
	width: 50%;
	height: 100%;
}

body{

  padding: 0.25em;
  background-color: white;
  font-family:"Georgia";
  height: 100%;
  width: 100%;
}
#csunlink{
  position: fixed;
  left: 2em;
  top: 1%;
  z-index: 2;
}

.infoheader{
	font-family:"Helvetica";
	color: white;
	position: relative;
	top: 1.2em;
	
}

#infoh{
	font-family:"Helvetica";
	color: white;
	position: relative;
	top: 1.2em;
	
}

#dailyrep{
	font-family:"Helvetica";
	color: #D00D2D;
	
}

img{
	width: 25em;
	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	padding-right: 0px;
    width: 12em;
    background-color: #f1f1f1;
    position: relative;
    top: 15%;
    left: 2em;
    float: left;
	z-index: 1;
	
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
	border: 2px;
}



hr{
	height: 2px;
	width: 96%;
	background-color: black;
	position: fixed;
	top: 94%;
	left: 2%;
	
	
}
li a:hover {
    background-color: #55565A;
    color: white;
	font-size:120%;
}


li a:active {
    background-color: #D00D2D;
	font-size: 120%;
    color: white;
}



fieldset{
  height: 40em;
  width: 25em;

  float: left;
  background-color: #A9A8A9; 
}

form{
  position: absolute;
  z-index: 0;
  top: 8em;
  left: 20em;
   
}

#parentkey{
	position: absolute;
  z-index: 0;
  top: 8em;
  left: 50em;
	
}



footer{
  padding: 0.5em;
  color: #D00D2D;
  font-size: 0.9em;
  position: fixed;
  top: 95%;
  left: 5%;
  
}

#highlight{
	background-color:#D00D2D;
	height: 4em;
	position: relative;
	top: -1em;
}

#highlig{
	background-color:#D00D2D;
	height: 4em;
	position: relative;
	top: 1em;
}

legend{
	font-size: 20px;
	font-weight: bold;
	color:white;
	background-color: #D00D2D;
	
	
}

